<div class="row">
    <h1>Educación:</h1>

    <div class="col-lg-11">
        <ul>
            <li>
                <h1>Primaria</h1> - <h3>(years)</h3>
            </li>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis dolorem provident temporibus, eaque odio neque sint nam! Architecto laboriosam dolorum accusantium tenetur id quae, libero, modi, animi esse iusto exercitationem?</p>
        </ul>
        <ul>
            <li>
                <h1>Secundaria</h1> - <h3>(years)</h3>
            </li>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis dolorem provident temporibus, eaque odio neque sint nam! Architecto laboriosam dolorum accusantium tenetur id quae, libero, modi, animi esse iusto exercitationem?</p>
        </ul>
    </div>
</div>
