    <div class="row">
<div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
    <img src="../../../assets/FOTOP.jpeg" class="img-fluid">
</div>
<div>
    <p>Sofía Alessandra Guerrero</p>
    <p>Full Stack Developer Jr</p>
</div>
<div>
    <span>
        <h1>Acerca de mí</h1>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quod nostrum reprehenderit, temporibus, rem veritatis culpa ex vel omnis nesciunt deleniti maxime, corrupti a consectetur ducimus eaque ad distinctio doloribus illum!</p>
    </span>
</div>
    </div>